

header {
	height: 100%;
	overflow: hidden;
	
	#menu-btn {
		border:1px solid red;
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 100;
	}
	ul {
		overflow: hidden;
		background: #999;
		width: 300px;
		height: 100%;
		position: absolute;
		top: 0;
		right: -300px;
		-webkit-transition: -webkit-transform 333ms;
	}
	li {

		a {
			font-size: 2em;
		}
	}
}



.date-time {
	text-align: center;
}
