.tube {

	li {
		position: relative;
		padding: 10px;
		overflow: hidden;
		font-size: 2rem;
		
		&.train-1 {
			background-color: $bakerloo;
		}
		&.train-2 {
			background-color: $central;
		}
		&.train-7 {
			background-color: $circle;
		}
		&.train-9 {
			background-color: $district;
		}
		&.train-8 {
			background-color: $hcity;
		}
		&.train-4 {
			background-color: $jubilee;
		}
		&.train-11 {
			background-color: $metro;
		}
		&.train-5 {
			background-color: $northern;
		}
		&.train-6 {
			background-color: $piccadilly;
		}
		&.train-3 {
			background-color: $victoria;
		}
		&.train-12 {
			background-color: $wcity;
		}
		&.train-82 {
			background-color: $overground;
		}
		&.train-83 {
			background-color: $rail;
		}
		&.train-81 {
			background-color: $dlr;
		}
		span {
			display: block;
			float: left;
		}
	}
	.service {
		width: 25%;
	}
	.service-message {
		width: 50%;
	}
	
	.service-code {
		min-width: 20%;
		text-align: center;
		float: right;
		border: 2px solid #fff;
		border-radius: $radius;
		
		&.service-gs {
			background-color: green;
		}
		
		&.service-sd {
			background-color: red;
		}
		
		&.service-md {
			background-color: orange;
		}
	}
	
	
	
	
}