$default-text: #444;

$spacer: 3rem;

//tube
$bakerloo: #884E29;
$central: #DA2728;
$circle: #FECD2F;
$district: #0D712D;
$hcity: #D69AAF;
$jubilee: #6A7278;
$metro: #741555;
$northern: #000000;
$piccadilly: #0522A5;
$victoria: #1AA1DF;
$wcity: #79CFBD;
$overground: #E66A24;
$rail: #0522A5;
$dlr: #1BAFAC;