<h2 id="config">config</h2>

<div ng-controller="PeopleController">
	<h3>update user status:</h3>
	<ul ng-repeat="person in persons">
		<li><p>
			<label>
				<span class="label-control"><span class="username">{{ person.name }}</span> is <span class="userstatus">{{ person.status }}</span></span>
				<select ng-model="selection" ng-options="o as o for o in statuses"></select>
			</label>
			<button ng-click="changeStatus(person,selection)">update</button>
			</p>
		</li>
	</ul>
	
	<hr />
	
	<label>
		<span class="label-control">add new status</span>
		<input type="text" ng-model="addNewStatus" />
		<button ng-click="pushNewStatus(addNewStatus)">add</button>
	</label>
	<hr />
	<label>
		<span class="label-control">add new person</span>
		<input type="text" ng-model="addNewPerson" />
		<button ng-click="pushNewPerson(addNewPerson)">add</button>
	</label>

</div>